*, *::after, *::before  {
box-sizing: border-box;
}

:root {
  --main-color:black;
  --main-color-a:black;
  --background-color:white;
  --main-header-color:white;
  --button-background-color:#0318a8;
  ----color-background: #38444c;

}


@font-face {
    font-family: myrobotoFirstFont;
    src: url(../fonts/roboto-300.woff);
    font-weight:300;
  }

  @font-face {
    font-family: myrobotoFirstFont;
    src: url(../fonts/roboto-400.woff);
    font-weight:400;
  }

  @font-face {
    font-family: myrobotoFirstFont;
    src: url(../fonts/roboto-500.woff);
    font-weight:500;
  }

  @font-face {
    font-family: myrobotoFirstFont;
    src: url(../fonts/roboto-700.woff);
    font-weight:700;
  }

  @font-face {
    font-family: myrobotoFirstFont;
    src: url(../fonts/roboto-900.woff);
    font-weight:900;
  }

  @font-face {
    font-family: myrobotoFirstFont;
    src: url(../fonts/roboto-400.woff);
    font-weight:400;
  }


  @font-face {
    font-family: myrebondFirstFont;
    src: url(../fonts/rebond-400.woff);
    font-weight:400;
  }


  @font-face {
    font-family: myrebondFirstFont;
    src: url(../fonts/rebond-500.woff);
    font-weight:500;
  }


  @font-face {
    font-family: myrebondFirstFont;
    src: url(../fonts/rebond-600.woff);
    font-weight:600;
  }


  @font-face {
    font-family: myrebondFirstFont;
    src: url(../fonts/rebond-700.woff);
    font-weight:700;
  }


  @font-face {
    font-family: hel-sanserif;
    src: url(../fonts/helvetica-monospaced-w05-paneuropean-roman.woff2);
     font-weight:400; 
  }

  @font-face {
    font-family: helvetica;
    src: url(../fonts/helvetica-monospaced-w05-micro-medium.woff2);
    font-weight:500;
  }

  @font-face {
    font-family: helveticanow;
    src: url(../fonts/helvetica-now-w05-micro-medium.woff2);
    font-weight:6000;
  }

  @font-face {
    font-family: helveticanowreg;
    src: url(../fonts/helvetica-now-w05-text-regular.woff2);
    font-weight:400;
  }
  body{
    background-color: white;

    margin:0;
  }
  header{
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index:100;
    background-color: white;
  }
  
  header > a:nth-of-type(1) {
    position: relative;
    top: 5em;
    bottom: 0;
    left: 4em;
    right: 0;
    order: -1;

  }

  header a:nth-of-type(1) img {
    width: 10em;

  }
  
  header nav:nth-of-type(1) ul {
  display: grid;
  grid-template-columns:3em 3em 3em;
  grid-template-rows: 2em;
  gap: .1em;
  }
  
  header nav:nth-of-type(1) li{
    border-left: solid lightgrey 1px;
    border-right: solid lightgrey 1px;
  }

  
  header nav:nth-of-type(1) button{
    width: 2.5em; 
   }

  header nav:nth-of-type(1) img{
    width: 60%; 
  }
  
  header nav:nth-of-type(1) button{
  border: none;
  background-color: white;
}
  /* hamburger button */
  header > button{
    background-color: white;
    border: none;
     order:-100;
  }
  
  header nav:nth-of-type(2) {
    position:fixed;
    top:0;
    left:0;
    bottom:0;
    right:0;
    background-color:white;
    transform:translateX(-100%);
  }
  
  header nav:nth-of-type(2) button{
    background-color: white;
    border: none;
    color: blue;
    position: absolute;
    right: 0;
    cursor: pointer;
  }

  header nav:nth-of-type(2) ul{
    padding: 0;
  }

  header nav:nth-of-type(2) li{
    border: solid 1px lightgrey;
    padding: 5px;
    
  }
  header nav:nth-of-type(2) ul:first-of-type li:nth-of-type(1){
    border-top: solid 2px black;
  }
  header nav:nth-of-type(2) ul:first-of-type li:nth-of-type(2){
    margin-bottom: 3em;
  }




  /* door focus within kan je door te tabben de hamburger menu sluiten,
  heb het even  zodat ik het  */
  header nav.open,
  header nav  /*:focus-within  */ {
    transform:translateX(0%);
  }

/* styling van content in body */
li{
  list-style: none;
}

button{
  font-family: helveticanowreg; 
   font-weight:400; 
   text-transform: uppercase;
   text-decoration: none;
}

a{
  color:var( --main-color);
  font-family: helveticanowreg; 
   font-weight:400; 
   text-transform: uppercase;
   text-decoration: none;
}

a:focus{
  outline: none;

}

p{
  color:var( --main-color);
  font-family: hel-sanserif; 
   font-weight:400; 
   text-transform: uppercase;
}

em{
color: green;
 font-size: .6em;
 font-style: normal;
}




/* footer met menutjes */
footer  nav:nth-of-type(1){
  font-family: myrobotoFirstFont; 
  font-weight: 300px; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  margin-bottom: 6em;
 
}

footer nav:nth-of-type(1) ul{
  padding: 0;
  margin:0;
}
  
/* hier wou ik de main li's en de sub li's een border geven en de li's die erna komen juist niet */
footer > nav:nth-of-type(1) > ul > li,
footer > nav:nth-of-type(1) > ul > li > ul > li{
  border: solid 1px lightgrey;
  height: 100%;
}

footer nav:nth-of-type(1) ul ul {
  display:none;
}

footer nav:nth-of-type(1) ul li ul li ul li{
  font-family: myrobotoFirstFont; 
  font-weight:300px; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  padding: 5px;
  margin: 2px;

}

footer nav:nth-of-type(1) ul li ul li ul li a{
  font-family: myrobotoFirstFont; 
  font-weight:300px; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
 
}

footer nav:nth-of-type(1) ul ul.open {
  display:block;
}




footer nav:nth-of-type(1) button {
  font-family: myrobotoFirstFont; 
  font-size:16.5px; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  border: none;
  background-color: white;
  height: 100%;
  padding: 0;
}

footer nav:nth-of-type(1) button:focus {
  text-decoration: underline;
  outline: none;

}


/* socials */
footer nav:nth-of-type(2){
  font-family: helveticanowreg; 
  font-weight:400px; 
  text-transform: uppercase;
  text-decoration: none;
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  border:solid;
  border-color: lightgrey;
  border-top-width: 1px;
  border-bottom-width: 0;
  border-left-width: 0;
  border-right-width: 0;
  margin: 0;
  margin-top: 0;
  line-height: 0%;
 
}
footer nav:nth-of-type(2) li{
  margin-right: 0%; 

  line-height: 30px;
  justify-content: end;

}

footer nav:nth-of-type(2) p{
margin-right: 2em ;
}

footer nav:nth-of-type(2) a{
align-items: right;
gap: 1px;
color: blue;
}

footer nav:nth-of-type(2) a:focus{
  text-decoration: underline;
}





@media (prefers-color-scheme:dark) {
  body{
   background-color: #38444c;
  }

  button {
    background-color: #38444c;
  }   
 
}
 


