:root {
  --imageBrightness:1;
}

/* Dark theme */
@media (prefers-color-scheme:dark) {
  :root{
   

    --imageBrightness:.85;
  }
}
section ul{
  padding:0;
 }

 
 section li:nth-of-type(1) {
	position:relative;
 }

 section li:nth-of-type(2) {
	position:relative;
 }

 section li:nth-of-type(3) {
	position:relative;
 }


 section li:nth-of-type(4) {
	position:relative;
 }
 
 section  ul a {
	 display: flex;
 } 
 
section h3 {
  position: absolute;
  font-size: 15px;
  color: black;
 }

  section  li:nth-of-type(3)::after{
    content: "gifts for her";
    position: absolute;
    top: 1em;
    left: 0;
    right: 0;
    height: .25em;
    width: 100%;
    font-size: 15px;
    font-family: helveticanowreg; 
    font-weight:400; 
    text-transform: uppercase;
    text-decoration: none;
 }  

 section  li:nth-of-type(3):hover::after{
  content: "explore now";
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;

 } 

 section  li:nth-of-type(4)::after{
  content: "gifts for him";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  height: .25em;
  width: 100%;
  font-size: 15px;
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;
}  

section  li:nth-of-type(4):hover::after{
  content: "explore now";
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;
} 




 
@media ( min-width:32em) { 
  section ul {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

}

button{
  background-color: white;
  border: none;
}

h1{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -99999999999999em;
  transform: scale(0.01);
}

h2{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -99999999999999em;
  transform: scale(0.01);
}

img {
  width: 100%;
  height: auto;
  /* filter:brightness(var(--imageBrightness));  
  als ik mijn image brightness wil aanpassen, dan verdwijnt mijn h3*/
}





