:root {
  --imageBrightness:1;
}

/* Dark theme */
@media (prefers-color-scheme:dark) {
  :root{
    --imageBrightness:.85;
  }
}

header > a{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate( -50% ,-50% );
}

/* styling van section (waar alle content in zit) */
section ul{
  padding:0;
 }

 section li:nth-of-type(1) {
	position:relative;
 }

 section li:nth-of-type(2) {
	position:relative;
 }

 section li:nth-of-type(3) {
	position:relative;
 }


 section li:nth-of-type(4) {
	position:relative;
 }
 
 section  ul a {
	 display: flex;
 } 
 
section h3 {
  position: absolute;
  font-size: 15px;
  /* ik wil dat dit zwart blijft */
  color: black;
  z-index: 100;
 }

 /* hier gebruik after en hover om de h3's tekst te veranderen, 2 sections*/
section  li:nth-of-type(3)::after{
  content: "gifts for her";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  height: .25em;
  width: 100%;
  font-size: 15px;
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;
 }  

 section  li:nth-of-type(3):hover::after{
  content: "explore now";
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;

 } 

 section  li:nth-of-type(4)::after{
  content: "gifts for him";
  position: absolute;
  top: 1em;
  left: 0;
  right: 0;
  height: .25em;
  width: 100%;
  font-size: 15px;
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;
}  

section  li:nth-of-type(4):hover::after{
  content: "explore now";
  font-family: helveticanowreg; 
  font-weight:400; 
  text-transform: uppercase;
  text-decoration: none;
} 


/* grid wordt hier gebruikt om het een beetje responsive te maken, img naast elkaar onder de 32 em */
@media ( min-width:32em) { 
  section ul {
    display: grid;
    grid-template-columns: 1fr 1fr ;
  }

}

button{
  background-color: white;
  border: none;
}

h1{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -99999999999999em;
  transform: scale(0.01);
}

h2{
  visibility: hidden;
  position: absolute;
  top: 0;
  left: -99999999999999em;
  transform: scale(0.01);
}

img {
  width: 100%;
  height: auto;
  filter:brightness(var(--imageBrightness, 1));  
  /*als ik mijn image brightness wil aanpassen, dan verdwijnt mijn h3*/
  /* de ,1 is de fallback voor in light mode - als --imageBrightness nog geen waarde heeft */
}







