:root {
	--maxWidth:32rem;
    --main-color:black;
    --main-color-a:black;
    --background-color:white;
    --main-header-color:white;
    --button-background-color:#0318a8;
}

body {
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
}

/* bron: https://codepen.io/shooft/pen/mdBOZLz (sanne code) */

/* eerste carrousel met product foto's */
.caroCarrousel {
  position: relative;
  outline:none;
  cursor: zoom-in;
}

/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
  display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
    scrollbar-width: none; /* voor firefox */
}

/* scrollbar wordt hier verborgen */
.caroCarrousel > ul::-webkit-scrollbar {
  display: none; /* voor chrome, safari en edge*/
}


/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/* de img en stijl */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}

/* scroll buttons styling */
.caroCarrousel > a {
  position: absolute;
  width: 3em;
  aspect-ratio:1/1;
  top: calc(50% - 1.5em);
  display:grid;
  place-items:center;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:.5em;
}
.caroCarrousel > a[href="next"] {
  right:.5em;
}


/* prev en next linkbuttons pijltjes */
.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 4px;

  background-color: black;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
 color: none;
} 
/* einde carrousel */


/* h2 in section verdwijnen*/
section  h2{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -99999999999999em;
    transform: scale(0.01);
}

/* formulier styling*/

section:nth-of-type(2) form{
    /* display: flex; */
    /* flex-direction: column; */
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    border:solid;
    border-color: lightgrey;
    border-left-width: 0;
    border-right-width: 0;
    border-bottom-width: 0;
    padding: 2em;

    display:grid;
    grid-template-columns: 1fr max-content max-content;
    grid-template-rows: max-content 6em max-content max-content;

   
}

section:nth-of-type(2) form h3{

position: relative;

font-family: myrobotoFirstFont; 
font-weight:300px; 
text-transform: none;
text-decoration: none;
font-weight: normal;

}

section:nth-of-type(2) form p:nth-of-type(1){
    position: relative;
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;

    grid-column-start:2;
    grid-column-end:4;

    grid-row-start:1;

    justify-self: end;
}



section:nth-of-type(2) form p:nth-of-type(2){
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    position: relative;

    grid-column-start:1;

    grid-row-start:2;
}

section:nth-of-type(2) form p:nth-of-type(3){
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: gray;
    position: relative;
    grid-column-start:1;
    grid-row-start:3;
 }


 /* hier ga ik de add to bag button stijlen */
  section:nth-of-type(2) form input[type="button"]:nth-of-type(1){
    position:relative;
    background-color:darkblue;
    font-family: helveticanowreg; 
    font-weight:400; 
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding: 1em;

    height: 4em;
    border:none;
    overflow:hidden;
    animation: none; 


    grid-column-start:1;
    grid-column-end:3;

    grid-row-start:4;
    cursor: pointer;
  }
  
  section:nth-of-type(2) form input[type="button"]:nth-of-type(1).busy{
    /* ipv 90deg kan je ook to right zeggen */
    background-image: linear-gradient(90deg , lightblue 50%, white 50%);
    background-size: 200% 100%;
    background-position: right center;
    animation-name: busy;
    animation-duration: 1s;
  }



/* tutorial: https://www.youtube.com/watch?v=cH0TC9gWiAg*/
/* inspo: https://codepen.io/shooft/pen/KKorGPa*/
/* Hilal heeft mij met keyframes geholpen */

  @keyframes busy{
    0%{
    background-position: right center;
    }
    100% {
        background-position: left center;   
    }
  }
  

  section:nth-of-type(2) form input[type="button"]:nth-of-type(1):hover{
    background-color:white;
    color:black;
    border:solid .1em var(--button-background-color);
  }
  
 
  /* like button styling */
  .like{
    position:relative;
    background-color:white;
    font-family:arial;
    padding: 1em;
    width: 5em;
    height: 4em;
    border:solid .1em var(--button-background-color);
    overflow:hidden;
    animation: none;
    color: var(--button-background-color);
    cursor:pointer;

    grid-column-start:3;

    grid-row-start:4;
  }

  
  .like:active {
    transition:transform 0s;
    transform:translatey(1px);
  }
  
  
  /* LIKE BUTTON */
  /* Sanne's code heeft mij hier een beetje geholpen https://codepen.io/shooft/pen/ZExVBVR */
  section:nth-of-type(2) form input[type="button"]:nth-of-type(2).liked{  
    background-color:white;
    color: var(--button-background-color);
    transition:.3s;
  }



  /* 3e sectie styling */
  section:nth-of-type(3){
    cursor: pointer;
  }
  section:nth-of-type(3) ul {
   border: solid .1px;
   border-color: lightgray;
    padding: 1em;
    /* width: 40em; */
    height: 5em;
    margin: 0;

  }
  section:nth-of-type(3) a, p{
    margin: 1em;

  }

  section:nth-of-type(3) a{
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
  }

  section:nth-of-type(3) p{
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
  }

  section:nth-of-type(4){
    padding: 1em;
  }
  
  section:nth-of-type(4) p {
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
  }

/* de need help link */
  section:nth-of-type(5) {
    border: solid;
    border-color: lightgray;
    border-left: 0; 
    height: 2em;
  }

  section:nth-of-type(5) a{
    padding: 2em;
    
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: var(--button-background-color);
  }




/* recommended carrousel met scrol */
 /* bron: https://codepen.io/shooft/pen/abmLRMg?editors=1100 (sanne code) */

 section:nth-of-type(6) {
    border:solid;
    border-bottom-width: 0;
    border-top-width: .1px;
    border-color: lightgrey;
    
 }

section:nth-of-type(6) h3{
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    padding: 1em;
}


section:nth-of-type(6) ul {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
    padding: 0;
}

section:nth-of-type(6) > ul::-webkit-scrollbar {
	display: none;
}
section:nth-of-type(6) li {
	scroll-snap-align:center;
	display: flex;
    flex-direction: column;
}

section:nth-of-type(6) img {
	width: 16em;
	height: auto;
}

section:nth-of-type(6) li a{
    font-family: myrobotoFirstFont;
    font-weight: 300; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    color: var(--button-background-color);
    position: relative;
    right: 2em;
  
}


section:nth-of-type(6) li p{
	text-align: right;
    
    font-family: myrobotoFirstFont;
    font-weight: 300; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: none;
}

footer nav:nth-of-type(1) li:first-of-type{
  border-top: solid .1px  lightgray;
  font-family: myrobotoFirstFont; 
  font-weight:300px; 
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;

}

