:root {
	--maxWidth:32rem;
    --main-color:black;
    --main-color-a:black;
    --background-color:white;
    --main-header-color:white;
    --button-background-color:#0318a8;
}

body {
	grid-template-columns: minmax(auto, var(--maxWidth));
	justify-content:center;
}

/* bron: https://codepen.io/shooft/pen/mdBOZLz (sanne code) */

/* eerste carrousel met product foto's */
.caroCarrousel {
  position: relative;
  outline:none;
}

/* de carrousel elementen container */
.caroCarrousel > ul {
  margin: 0; padding: 0;
  list-style: none;
  display: flex;
	
	/* handmatig scrollen is mogelijk */
	overflow: hidden;
	
	/* snappen als er gescrolled wordt - andere helft bij li */
  scroll-snap-type: inline mandatory;
  
  /* smooth scrollen */
	scroll-behavior: smooth;
  
  /* scrollbar zoveel mogelijk verbergen */
  -webkit-overflow-scrolling: touch; /* voor iOS*/
  -ms-overflow-style: none; /* voor IE */
    scrollbar-width: none; /* voor firefox */
}

/* scrollbar wordt hier verborgen */
.caroCarrousel > ul::-webkit-scrollbar {
  display: none; /* voor chrome, safari en edge*/
}


/* de carrousel elementen */
.caroCarrousel > ul li {
  flex-basis: 100%;
  flex-shrink: 0;
  /* snappen als er gescrolled wordt - andere helft bij ul */
	scroll-snap-align:center;
}


/* de img en stijl */
.caroCarrousel > ul li > img {
  display: block;
  width: 100%;
}

/* scroll buttons styling */
.caroCarrousel > a {
  position: absolute;
  width: 3em;
  aspect-ratio:1/1;
  top: calc(50% - 1.5em);
  display:grid;
  place-items:center;
}

/* initieel staan de links "buiten beeld" */
.caroCarrousel > a[href="previous"] {
  left:-3.5em;
}
.caroCarrousel > a[href="next"] {
  right: -3.5em;
}

/* bij hover en focus schuiven de links in beeld */
.caroCarrousel:hover > a[href="previous"],
.caroCarrousel:focus-within > a[href="previous"] {
  left:.5em;
}
.caroCarrousel:hover > a[href="next"],
.caroCarrousel:focus-within > a[href="next"] {
  right:.5em;
}

/* prev en next linkbuttons pijltjes */
.caroCarrousel > a::before,
.caroCarrousel > a::after {
  content: "";
  position: absolute;
  width: 1em; height: 4px;

  background-color: black;
}

.caroCarrousel > a[href=previous]::before {
	transform-origin: 2px center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=previous]::after {
	transform-origin: 2px center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a[href=next]::before {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(45deg);
}
.caroCarrousel > a[href=next]::after {
	transform-origin: calc(100% - 2px) center;
	transform: translateY(0) rotate(-45deg);
}

.caroCarrousel > a:hover,
.caroCarrousel > a:focus {
 color: none;
} 
/* einde carrousel */


/* h2 in section verdwijnen*/
section  h2{
    visibility: hidden;
    position: absolute;
    top: 0;
    left: -99999999999999em;
    transform: scale(0.01);
}

/* formulier styling*/

section:nth-of-type(2) form{
    display: flex;
    flex-direction: column;
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    border:solid;
    border-color: lightgrey;
    border-left-width: 0;
    border-right-width: 0;
    padding: 2em;
   
}

section:nth-of-type(2) form label:nth-of-type(1){
padding: 1em;
position: relative;
bottom: 1.5em;
}

section:nth-of-type(2) form label:nth-of-type(2){
    padding: 1em;
    position: relative;
    bottom: 4.75em;
    left: 30em;
    right: 0;
}



section:nth-of-type(2) form label:nth-of-type(3){
    padding: 1em;
    text-transform: none;
    position: relative;
    bottom: 6.5em;
    
}

section:nth-of-type(2) form label:nth-of-type(4){
    padding: 1em;
    color: gray;
    text-transform: none;
    position: relative;
    bottom: 6.5em;
 }
 /* section:nth-of-type(2) form input[type="submit"]:nth-of-type(1) {
    background-color: pink;

 } */

 /* hier ga ik de add to bag button stijlen */
  section:nth-of-type(2) form input[type="submit"]:nth-of-type(1){
    position:relative;
    background-color:darkblue;
    font-family: helveticanowreg; 
    font-weight:400; 
    text-transform: uppercase;
    text-decoration: none;
    color:white;
    padding: 1em;
    width: 30em;
    height: 4em;
    border:none;
    overflow:hidden;
    animation: none; 
    bottom: 5em;

  }


/* tutorial: https://www.youtube.com/watch?v=cH0TC9gWiAg*/
/* inspo: https://codepen.io/shooft/pen/KKorGPa*/
/* Hilal heeft mij met keyframes geholpen */

  @keyframes buttonanimatie{
    0%{
      transform: translateX(-60%);
    }
    100% {
      transform: translateX(200%);    
    }
  }
  

  section:nth-of-type(2) form input[type="submit"]:nth-of-type(1):hover{
    background-color:white;
    color:black;
    border:solid .1em darkblue;
  }
  
  section:nth-of-type(2) form input[type="submit"]:nth-of-type(1)::before{
    position: absolute;
    content: "";
    width: 20em;
    top:0;
    left:0;
    bottom:0;
    background-color:lightblue;
    opacity:80%;
    z-index:-1;
  }
  
  section:nth-of-type(2) form input[type="submit"]:nth-of-type(1):hover::before{
    z-index:1;
    animation-name:buttonanimatie;
    animation-duration:2s;
    animation-iteration-count: infinite;
  }

  /* like button styling */
  .hartje{
    position:relative;
    background-color:white;
    font-family:arial;
    padding: 1em;
    width: 5em;
    height: 4em;
    border:solid .1em darkblue;
    overflow:hidden;
    animation: none;
    bottom: 9em;
    left: 30em;
  }

  /* 3e sectie styling */
  section:nth-of-type(3) ul {
   border: solid;
   border-color: lightgray;
    padding: 1em;
    width: 40em;
    height: 5em;

  }
  section:nth-of-type(3) a, p{
    margin: 1em;

  }

  section:nth-of-type(3) a{
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
  }

  section:nth-of-type(3) p{
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
  }

  section:nth-of-type(4){
    padding: 1em;
  }
  
  section:nth-of-type(4) p {
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
  }

/* de need help link */
  section:nth-of-type(5) {
    border: solid;
    border-color: lightgray;
    border-left: 0; 
    height: 2em;

  }

  section:nth-of-type(5) a{
    padding: 2em;
   
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: none;
    text-decoration: none;
    font-weight: normal;
    color: #0318a8;
  }




/* recommended carrousel met scrol */
 /* bron: https://codepen.io/shooft/pen/abmLRMg?editors=1100 (sanne code) */

 section:nth-of-type(6) {
    border:solid;
    border-bottom-width: 0;
    border-top-width: .1px;
    border-color: lightgrey;
    
 }

section:nth-of-type(6) h3{
    font-family: myrobotoFirstFont; 
    font-weight:300px; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    padding: 1em;
}


section:nth-of-type(6) ul {
	display: flex;
	overflow-x: scroll;
	scroll-snap-type: inline mandatory;
	scroll-behavior: smooth;
    padding: 0;
}

section:nth-of-type(6) > ul::-webkit-scrollbar {
	display: none;
}
section:nth-of-type(6) li {
	scroll-snap-align:center;
	display: flex;
    flex-direction: column;
}

section:nth-of-type(6) img {
	width: 16em;
	height: auto;
}

section:nth-of-type(6) li a{
    font-family: myrobotoFirstFont;
    font-weight: 300; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: normal;
    color: #0318a8;
  
}


section:nth-of-type(6) li p{
	text-align: right;
    font-family: myrobotoFirstFont;
    font-weight: 300; 
    text-transform: uppercase;
    text-decoration: none;
    font-weight: none;
}


